/***********************************************************************************/
@media screen and (min-width: 320px) and (max-width: 480px) {




#banner-holder
{
	position: relative;
}

#top-left
{
	float: left;
	width: 100%;
	color: #fff;
	font-size: 10px;
}


#top-right
{
	float: left;
	width: 100%;
}



	#top-right span.top-links
	{
		float: left;
		color: #fff;
		margin-right: 20px;
		width: 100%;
	}


		#top-right span.top-links a
		{
			color: #fff;
			font-size: 12px;
		}


	#top-right span.bonus-share
	{
		width: 100%;
	}

	#top-right span.search
	{
		display: none;
	}


#animation
{
	float: left;
	width: 100%;
}


#navigation
{
	float: left;
	width: 100%;
	padding-top: 2%;
}

.callbacks .caption {

    display: none !important;

}

#about-ufl {
	font-size: 17px;
	line-height: 22px;

}

	#about-ufl h1
	{
		font-size: 25px;
		color: #333;
		margin-bottom: 10px;
		font-weight: normal;
		line-height: 30px;
	}

	#about-ufl h1 strong
	{
		font-size: 25px;
		color: #d91966;
		font-weight: bold;
	}

	#about-ufl span
	{
		font-size: 17px;
		line-height: 22px;
		color: #999;
	}

	#about-ufl img
	{
		float: right;
		margin-left: 0;
		margin-bottom: 2%;
		width: 100%;
	}


#feature-product
{
	float: left;
	width: 90%;
	padding: 5% 5% 0 5%;
	background: #000099;
	background-size: 100% auto;
	min-height: 588px;
}


	#feature-top ul li
	{
		float: left;
		list-style: none;
		margin-right: 2%;
		text-align: center;
		width: 45%;
		min-height: 180px;
	}


	#feature-top ul li img
	{
		margin-bottom: 10px;
		width: 80%;
		padding-top: 2px;
	}


	#feature-top ul li span
	{
		width: 50px;
		height: 50px;
	}


	#feature-top ul li span:hover
	{
		width: 50px;
		height: 50px;
	}

	#feature-top ul li a
	{
		color: #fff;
		display: block;
		clear: both;
		text-align: center;
		font-size: 15px;
	}


#more-products
{
	margin-top: 2%;
	padding-top: 10%;
}


	#more-products h2
	{
		color: #fff;
		font-size: 25px;
		text-align: left;
		margin-bottom: 5%;
	}


	#more-products h2 strong
	{
		color: #fff;
		font-size: 25px;
		font-weight: normal;
	}


	#more-products span
	{
		float: left;
		width: 100%;
		border-bottom: 1px solid #ccc;
		margin-top: 3%;
	}


	#more-products span p
	{
		width: 100%;
		float: left;
		background: none;
		border-radius: 0;
		border: none;
		padding: 0 0 0 10px !important;
		height: 2px;
		clear: both;
		text-align: left;
	}


	#more-products span p img
	{
		display: none;
	}


	#more-products span ul li a
	{
		color: #fff;
		font-size: 15px;
	}


	#more-products span ul
	{
		margin-left: 4%;
		margin-top: 16%;
	}


	#remitance-partner ul
	{
		width: 100%;
		float: left;
	}


	#remitance-partner ul li
	{
		float: left;
		list-style: none;
		margin-left: 2%;
		margin-right: 2%;
		width: 45%;
	}


	#remitance-partner h3
	{
		color: #b2b2b2;
		font-size: 20px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 3%;
		margin-top: 3%;
		font-weight: normal;
	}


	#remitance-partner ul li img
	{
		width: 100%;
	}


#news-notice
{
	float: left;
	width: 90%;
	padding: 5% 5% 5% 5%;
}

	#news-notice h4
	{
		color: #363435;
		font-size: 20px;
	}

	#news-notice ul li
	{
		width: 98%;
		margin-bottom: 5px;
	}

	#news-notice ul li:last-child
	{
		width: 98%;
	}

	#news-notice ul li a
	{
		font-size: 17px;
	}

	#news-notice ul li a:hover
	{
		font-size: 17px;
		text-decoration: underline;
	}


#footer-links
{
	float: left;
	width: 100%;
}


#footer-links span
{
	float: left;
	width: 29%;
	margin-right: 2%;
}


#contact-footer
{
	float: left;
	width: 100%;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	border-top: 1px dotted #fff;
	padding-top: 20px;
	margin-top: 20px;
}

#contact-footer img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}


	#copyright-footer span
	{
		float: left;
		width: 100%;
		font-size: 11px;
	}


	#footer-links span ul li a
	{
		color: #fff;
		font-size: 14px;
		line-height: 16px;
	}


	#copyright-footer span.social-footer
	{
		width: 70%;
		margin: 10px auto;
	}




}



/***********************************************************************************/
@media screen and (min-width: 481px) and (max-width: 640px) {



#banner-holder
{
	position: relative;
}

#top-left
{
	float: left;
	width: 100%;
	color: #fff;
	font-size: 13px;
	text-align: center;
}


#top-right
{
	float: left;
	width: 100%;
	text-align: center;
}



	#top-right span.top-links
	{
		float: left;
		color: #fff;
		margin-right: 20px;
		width: 100%;
	}


		#top-right span.top-links a
		{
			color: #fff;
			font-size: 12px;
		}


	#top-right span.bonus-share
	{
		width: 100%;
	}

	#top-right span.search
	{
		display: none;
	}


#animation
{
	float: left;
	width: 100%;
}


#navigation
{
	float: left;
	width: 100%;
	padding-top: 2%;
}

.callbacks .caption {

    display: none !important;

}

#about-ufl {
	font-size: 17px;
	line-height: 22px;

}

	#about-ufl h1
	{
		font-size: 25px;
		color: #333;
		margin-bottom: 10px;
		font-weight: normal;
		line-height: 30px;
	}

	#about-ufl h1 strong
	{
		font-size: 25px;
		color: #d91966;
		font-weight: bold;
	}

	#about-ufl span
	{
		font-size: 17px;
		line-height: 22px;
		color: #999;
	}

	#about-ufl img
	{
		float: right;
		margin-left: 0;
		margin-bottom: 2%;
		width: 100%;
	}


#feature-product
{
	float: left;
	width: 90%;
	padding: 5% 5% 0 5%;
	background: #000099;
	background-size: 100% auto;
	min-height: 588px;
}


	#feature-top ul li
	{
		float: left;
		list-style: none;
		margin-right: 2%;
		text-align: center;
		width: 45%;
		min-height: 180px;
	}


	#feature-top ul li img
	{
		margin-bottom: 10px;
		width: 80%;
		padding-top: 2px;
	}


	#feature-top ul li span
	{
		width: 50px;
		height: 50px;
	}


	#feature-top ul li span:hover
	{
		width: 50px;
		height: 50px;
	}

	#feature-top ul li a
	{
		color: #fff;
		display: block;
		clear: both;
		text-align: center;
		font-size: 15px;
	}


#more-products
{
	margin-top: 2%;
	padding-top: 10%;
}


	#more-products h2
	{
		color: #fff;
		font-size: 25px;
		text-align: left;
		margin-bottom: 5%;
	}


	#more-products h2 strong
	{
		color: #fff;
		font-size: 25px;
		font-weight: normal;
	}


	#more-products span p
	{
		width: 100%;
		float: left;
		background: none;
		border-radius: 0;
		border: none;
		padding: 0 0 0 10px !important;
		height: 2px;
		clear: both;
		text-align: left;
	}


	#more-products span p img
	{
		display: none;
	}


	#more-products span ul li a
	{
		color: #fff;
		font-size: 15px;
	}


	#more-products span ul
	{
		margin-left: 4%;
		margin-top: 16%;
	}


	#remitance-partner ul
	{
		width: 100%;
		float: left;
	}


	#remitance-partner ul li
	{
		float: left;
		list-style: none;
		margin-left: 2%;
		margin-right: 2%;
		width: 45%;
	}


	#remitance-partner h3
	{
		color: #b2b2b2;
		font-size: 20px;
		text-align: left;
		text-transform: uppercase;
		margin-bottom: 3%;
		margin-top: 3%;
		font-weight: normal;
	}


	#remitance-partner ul li img
	{
		width: 100%;
	}


#news-notice
{
	float: left;
	width: 90%;
	padding: 5% 5% 5% 5%;
}

	#news-notice h4
	{
		color: #363435;
		font-size: 20px;
	}

	#news-notice ul li
	{
		width: 98%;
		margin-bottom: 5px;
	}

	#news-notice ul li:last-child
	{
		width: 98%;
	}

	#news-notice ul li a
	{
		font-size: 17px;
	}

	#news-notice ul li a:hover
	{
		font-size: 17px;
		text-decoration: underline;
	}


#footer-links
{
	float: left;
	width: 100%;
}


#footer-links span
{
	float: left;
	width: 29%;
	margin-right: 2%;
}


#contact-footer
{
	float: left;
	width: 100%;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	border-top: 1px dotted #fff;
	padding-top: 20px;
	margin-top: 20px;
}

#contact-footer img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}


	#copyright-footer span
	{
		float: left;
		width: 100%;
		font-size: 15px;
		text-align: center;
	}


	#footer-links span ul li a
	{
		color: #fff;
		font-size: 14px;
		line-height: 16px;
	}


	#copyright-footer span.social-footer
	{
		width: 70%;
		margin: 10px auto;
	}



}



/***********************************************************************************/
@media screen and (min-width: 641px) and (max-width: 800px) {




}



/***********************************************************************************/
@media screen and (min-width: 801px) and (max-width: 1100px) {




}



/***********************************************************************************/
@media screen and (min-width: 1101px) and (max-width: 1279px) {




}




