@charset "utf-8";


.main-content {
    height: 800px;
    width: 1000px;
    margin: 0 auto;
}

.overlay-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.75);
}
.overlay-content {
    display: none;
    background: #ccc;
    padding: 1%;
    width: 50%;
    position: absolute;
    top: 5%;
    left: 44%;
    margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
    cursor: default;
    z-index: 10001;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

.overlay-content img{
    padding: 0 15px 15px 0;	
    width: 100%!important;
    height: auto!important
}

.close-btn {
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0.5% 1%;
    background:#d91966  ; /* fallback */
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    position: absolute;
    top: -5px;
    right: -5px;
    color: #FFF;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;

}
.close-btn:hover {
    background: #0000d5;
}



/* media query for most mobile devices */
@media only screen and (max-width: 480px){

    .overlay-content {
        width: 88%;
        margin: 0 6%;
        left: 0;
    }
}


