body
{
	margin: 0 auto;
	background:#fff;
	font-family: 'Myriad Pro', Arial;
	font-size: 18px;
	line-height: 24px;
	color: #777;
}

h1,h2,h3,h4,h5,h6,img,p,ul,li,table
{
margin:0;
padding:0;
border:0;
}

hr
{
	height: 1px;
	color: #dfdddc;
	border: none;
	background-color: #dfdddc;
	width: 100%;
	clear: both;
}

a
{
	color: #003399;
	text-decoration: none;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

a:hover
{
	text-decoration: none;
}

img
{
	height: auto;
}


#banner-holder
{
	float: left;
	width: 100%;
	position: fixed;
	z-index: 999;
	-webkit-box-shadow: 1px 1px 2px 1px #c3c3c3;
	box-shadow: 1px 1px 2px 1px #c3c3c3;
}


#top-banner
{
	float: left;
	width: 96%;
	padding: 1% 2% 1% 2%;
	background: #d91966;
}


#top-left
{
	float: left;
	width: 50%;
	color: #fff;
	font-size: 15px;
}


#top-right
{
	float: left;
	width: 50%;
}


	#top-right span
	{
		float: left;
	}


	#top-right span.top-links
	{
		float: left;
		color: #fff;
		margin-right: 20px;
		width: 60%;
	}


		#top-right span.top-links a
		{
			color: #fff;
			font-size: 15px;
		}


	#top-right span.search
	{
		background: url(../images/icon-search.png) top right no-repeat;
		padding-right: 6%;
		background-position: 100% 50%;
	}

	#top-right span.search input
	{
		border: none;
		color: #fff;
		padding: 5px 10px 5px 10px;
		background: #fff;
		color: #666;
		background-position: 95% 50%;
		width: 90%;
		font-size: 11px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
	}


	#top-right span.bonus-share
	{
		background: #ff359a;
		color: #000;
		text-align: center;
		width: 35%;
		
		-webkit-border-radius: 8px 8px 8px 8px;
		border-radius: 8px 8px 8px 8px;
	}



	#top-right span.bonus-share a.blinking{
	animation:blinkingText 1s infinite;
	padding: 2px 5px 2px 5px;
	text-align: center;
	display: block;
	}
	@keyframes blinkingText{
		0%{     color: #fff;    }
		40%{    color: #fff; }
		50%{    color: transparent; }
		80%{    color:#fff;  }
		100%{   color: #fff;    }
	}


#banner
{
	float: left;
	width: 96%;
	padding: 1% 2% 1% 2%;
	background: url(../images/bg-banner.png) 0 0 repeat;
}


#logo
{
	float: left;
	width: 24%;
}


#navigation
{
	float: left;
	width: 76%;
	padding-top: 2%;
}


	#navigation ul
	{
		float: right;
	}


#animation
{
	float: left;
	width: 100%;
	position: relative;
}


#quick-links
{
	position: fixed;
	width: 15%;
	top: 35%;
	right: 0;
	z-index: 99999;
}


	#quick-links ul li
	{
		list-style: none;
		position: relative;
		right: -70%;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		-ms-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
		margin-bottom: 3px;
	}


	#quick-links ul li:hover
	{
		list-style: none;
		position: relative;
		right: 0;
	}


		#quick-links ul li a
		{
			color: #fff;		
			padding: 8% 10% 8% 10%;
			width: 90%;
			display: block;
			background: #d91966;
			-webkit-border-radius: 10px 0 0 10px;
			border-radius: 10px 0 0 10px;
			border: 1px solid #fff;
			border-right: none;
		}


		#quick-links ul li a:hover
		{
			color: #fff;
			padding: 8% 10% 8% 10%;
			width: 90%;
			display: block;
			background: #003399;
			-webkit-border-radius: 10px 0 0 10px;
			border-radius: 10px 0 0 10px;
			border: 1px solid #fff;
			border-right: none;
		}


	#quick-links ul li img
	{
		float: left;
		margin-right: 20px;
		width: auto !important;
		height: auto !important;
		margin-left: 0;
		margin-right: 20px !important;
	}


#content-inner
{
	float: left;
	width: 84%;
	margin: 12% 3% 5% 3%;
	padding: 5%;
	font-size: 18px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,ffffff+85 */
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 85%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 85%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f7f7f7 0%,#ffffff 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


	#content-inner h1
	{
		margin-bottom: 20px;
		color: #333;
		font-size: 46px;
		line-height: 46px;
		font-weight: normal;
	}


	#content-inner img
	{
		float: right;
		width: 45%;
		margin-left: 3%;
		margin-bottom: 3%;
		height: auto;
	}


	#content-inner ul
	{
		margin-left: 30px;
		margin-top: 10px;
		margin-bottom: 20px;
	}



	#content-inner strong
	{
		color: #c9296d;
		font-size: 18px;
		font-weight: normal;
		text-transform: uppercase;

	}


	#content-inner table td img
	{
		float: none;
		width: auto !important;
	}


	#content-inner p
	{
		margin-bottom: 30px;
	}


#about-ufl
{
	float: left;
	width: 90%;
	padding: 5% 5% 5% 5%;
}

	#about-ufl h1
	{
		font-size: 45px;
		color: #333;
		margin-bottom: 20px;
		font-weight: normal;
	}

	#about-ufl h1 strong
	{
		font-size: 45px;
		color: #d91966;
		font-weight: bold;
	}

	#about-ufl img
	{
		float: right;
		margin-left: 2%;
		margin-bottom: 2%;
	}

	#about-ufl span
	{
		font-size: 24px;
		line-height: 30px;
		color: #999;
	}

	#about-ufl a
	{
		background: #003399;
		padding: 1.2% 5% 1% 5%;
		color: #fff;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: bold;
	}


#feature-product
{
	float: left;
	width: 90%;
	padding: 5% 5% 0 5%;
	background: url(../images/bg-product-feature.jpg) 0 0 no-repeat;
	background-size: 100% auto;
	min-height: 588px;
}


#feature-top
{
	float: left;
	width: 100%;
}


	#feature-top ul li
	{
		float: left;
		list-style: none;
		margin-right: 2%;
		text-align: center;
		width: 18%;
	}


	#feature-top ul li span
	{
		margin: 0 auto;
		list-style: none;
		text-align: center;
		background: #d91966;
		border-radius: 50%;
		border: 2px solid #fff;
		padding: 20px;
		width: 70px;
		height: 70px;
		display: block;
		margin-bottom: 20px;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}


	#feature-top ul li span:hover
	{
		margin: 0 auto;
		list-style: none;
		text-align: center;
		background: #b91557;
		border-radius: 50%;
		border: 2px solid #fff;
		padding: 20px;
		width: 70px;
		height: 70px;
		display: block;
		margin-bottom: 20px;
	}


	#feature-top ul li img
	{
		margin-bottom: 10px;
	}


	#feature-top ul li a
	{
		color: #fff;
		display: block;
		clear: both;
		text-align: center;
	}


	#feature-top ul li a:hover
	{
		color: #fff;
		display: block;
		clear: both;
	}


#more-products
{
	float: left;
	width: 100%;
	margin-top: 2%;
	padding-top: 4%;
	border-top: 1px solid #6c81ae;
}


	#more-products h2
	{
		color: #fff;
		font-size: 40px;
		text-align: center;
		margin-bottom: 5%;
	}


	#more-products h2 strong
	{
		color: #fff;
		font-size: 40px;
		font-weight: normal;
	}


	#more-products span
	{
		float: left;
		width: 50%;
	}


	#more-products span p
	{
		float: left;
		background: #d91966;
		border-radius: 50%;
		border: 2px solid #fff;
		padding: 40px 30px 30px 30px;
		width: 130px;
		height: 120px;
		clear: both;
		text-align: center;
	}


	#more-products span p.title-product
	{
		color: #33ccff;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: bold;
		border-radius: 0;
		background: none;
		border: none;
		padding: 15px 30px 30px 30px;
	}


	#more-products span ul
	{
		margin-left: 40%;
	}


	#more-products span ul li
	{
		list-style: none;
		background: url(../images/bullet-product.gif) 0 5px no-repeat;
		padding-left: 25px;
		margin-bottom: 3px;
	}


	#more-products span ul li a
	{
		color: #fff;
	}


	#more-products span ul li a:hover
	{
		color: #fff;
		text-decoration: underline;
	}


#remitance-partner
{
	float: left;
	width: 90%;
	padding: 3% 5% 5% 5%;
	background: #e3f0f5;
}


	#remitance-partner h3
	{
		color: #b2b2b2;
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 3%;
		font-weight: normal;
	}


	#remitance-partner ul
	{
		width: 100%;
		margin: 0 auto;
	}


	#remitance-partner ul li
	{
		float: left;
		list-style: none;
		margin-left: 2%;
		margin-right: 2%;
	}


#news-notice
{
	float: left;
	width: 90%;
	padding: 3% 5% 5% 5%;
}

	#news-notice h4
	{
		color: #363435;
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 2%;
		font-weight: normal;
	}

	#news-notice ul li
	{
		float: left;
		list-style: none;
		margin-right: 2%;
		width: 27%;
		border: 1px solid #ccc;
		padding: 2%;
		font-size: 16px;
	}

	#news-notice ul li:last-child
	{
		float: left;
		list-style: none;
		margin-right: 0;
		width: 26%;
		border: 1px solid #ccc;
		padding: 2%;
	}

	#news-notice ul li strong
	{
		color: #ed1264;
		font-size: 16px;
		font-weight: normal;
	}

	#news-notice ul li a
	{
		font-size: 20px;
	}

	#news-notice ul li a:hover
	{
		font-size: 20px;
		text-decoration: underline;
	}


#footer
{
	float: left;
	width: 90%;
	padding: 5% 5% 5% 5%;
	background: #4d585e;
}


#footer-links
{
	float: left;
	width: 65%;
}


#footer-links span
{
	float: left;
	width: 29%;
	margin-right: 2%;
}


	#footer-links span ul li
	{
		list-style: none;
		background: url(../images/bullet-footer.png) 0 7px no-repeat;
		padding-left: 15px;
	}


	#footer-links span ul li a
	{
		color: #fff;
	}


#contact-footer
{
	float: left;
	width: 35%;
	color: #fff;
	font-size: 17px;
}


	#contact-footer a
	{
		color: #fff;
		text-decoration: underline;
	}


	#contact-footer img
	{
		float: left;
		margin-right: 30px;
		margin-bottom: 30px;
	}


#copyright-footer
{
	float: left;
	width: 90%;
	padding: 2% 5% 2% 5%;
}


	#copyright-footer span
	{
		float: left;
		width: 50%;
	}


	#copyright-footer span.social-footer
	{
		text-align: right;
	}


	#copyright-footer span.social-footer ul
	{
		float: right;
		margin-left: 10px;
	}


	#copyright-footer span.social-footer ul li
	{
		float: left;
		list-style: none;
		margin-left: 3px;
		margin-right: 3px;
	}

.btn{
  text-align: center;
    margin: 0px auto;
    padding: 5px 25px;
    font-weight: bold;
    font-size: 1.64rem;
}

.btn.btn-ebanking{
    background: #0A3A70;
    color: #fff;
}

	#content-inner ul.old-ul li{
		border-bottom: solid 1px #ccc;
    list-style-type: circle;
    margin-bottom: 10px;
	}

	.table>tbody>tr.success>td,
	 .table>tbody>tr.success>th, 
	 .table>tbody>tr>td.success, 
	 .table>tbody>tr>th.success,
	  .table>tfoot>tr.success>td, 
	  .table>tfoot>tr.success>th, 
	  .table>tfoot>tr>td.success, 
	  .table>tfoot>tr>th.success, 
	  .table>thead>tr.success>td, 
	  .table>thead>tr.success>th, 
	  .table>thead>tr>td.success, 
	  .table>thead>tr>th.success {
	    background-color: #dff0d8;
	}

	.table>tbody>tr.active>td, 
	.table>tbody>tr.active>th, 
	.table>tbody>tr>td.active, 
	.table>tbody>tr>th.active, 
	.table>tfoot>tr.active>td, 
	.table>tfoot>tr.active>th, 
	.table>tfoot>tr>td.active,
	 .table>tfoot>tr>th.active, 
	 .table>thead>tr.active>td, 
	 .table>thead>tr.active>th, 
	 .table>thead>tr>td.active, 
	 .table>thead>tr>th.active {
	    background-color: #f5f5f5;
	}
tr.hdonly {
    background: rgba(57,68,157,0.28);
}
img.dwnn {
    width: initial !important;
    margin-bottom: 0px !important;
    display: inline;
    text-align: right;
    vertical-align: middle;
}

table tr td form{
	margin-top: 30px;
}
table tr td input,table tr td textarea {
    width: 90%;
    display: block;
    padding: 10px 10px;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}

table tr td input[type='submit']{
	width: 250px;
}

/* For Table  */



@media
	only screen and (max-width: 1025px),
	(min-device-width: 1025px) and (max-device-width: 1800px)  {
	
		table
		{
			width: 100%;
		}
		
		th
		{
			text-align: left;
			border: 1px solid #eee;
			border-collapse: collapse;
			background: #f5f5f5;
		}

		td {
			border: 1px solid #eee;
			border-collapse: collapse;
			
			font-size: 16px;
			font-family: Arial;
			padding: 20px;
		}

		td img {
			width: auto !important;
		}

	}


@media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 800px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #eee; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
		}

		td img {
			float: left;
		}

		tr th {
			text-align: left !important;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}




	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		body {
			padding: 0;
			margin: 0;
			width: auto; }
		}

	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body {
			width: auto;
		}
	}



